body
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

#clear
{ clear:both; }
#box
{
float:center;
text-align: center;

}
input[type=text]
{width:330px; height:35px;}
input[type=submit]
{
width:90px; height:35px;
}